---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
	frontmatter={{ title: "Gradient", prev: false, next: false, tableOfContents: false }}
	sidebar={[
		{
			label: "leadingNavLinks",
			items: [
				{ label: "Guides", link: "/introduction/quick-start" },
				{ label: "Examples", link: "/examples/gradient" },
			],
		},
		{
			label: "Core",
			items: [
				{
					label: "Gradient",
					link: "/examples/gradient",
				},
			],
		},
	]}
>
	<p>This is a custom page with a custom component:</p>
</StarlightPage>
