---
export function incrementRenderCount() {
	const renderCountElement = document.querySelector("#renderCount");
	renderCountElement.textContent = `${Number(renderCountElement.textContent) + 1}`;
}
---

<script></script>

<span id="renders">Renders: <strong id="renderCount">0</strong></span>

<style>
	#renders {
		color: white;
		position: absolute;
		bottom: 1.5em;
		right: 1.5em;
	}
</style>
