@media (width > 50rem) {
  :root {
    --sl-nav-gap: 2rem;
  }
}

footer {
  display: none !important;
}

.page > header > .header {
  grid-template-columns: auto 1fr auto;
}

.hero {
  padding-bottom: 0;

  + div ul {
    transform: translateY(-2rem);
    list-style-type: none;
    font-size: 1.2em;
    padding: 0;

    li {
      padding-left: 1.5em;
      position: relative;
    }

    li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.45em;
      width: 1em;
      height: 1em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='hsl(120, 73%, 38%)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m5 13l4 4L19 7'/%3E%3C/svg%3E");
      background-size: contain;
    }
  }
}
